<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="charusat.ac.in.we_vote">

    <application
        android:allowBackup="true"
        android:icon="@drawable/vote_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vote_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />

        <activity android:name=".Registration" />
        <activity android:name=".Departments" />
        <activity android:name=".CE" />
        <activity android:name=".IT" />
        <activity android:name=".EC" />
        <activity android:name=".EE" />
        <activity android:name=".ME" />
        <activity android:name=".CL" />


    </application>

</manifest>